@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background: 212, 26%, 89%, 1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background: 212, 26%, 89%, 1;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: hsl(var(--background));
}
